body{
    background-image: url("BG2.png");
    
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.btns{
    padding: 3%;
}
.H1{
    font-family: 'Gulzar', serif; 
    margin: 5%;
    font-weight: bolder;
}
.img3{
    width: 20%;
}
.btn{
   padding: 3%;
}
.H2{
    margin: 5%;
    font-family: 'Gulzar', serif; 
    color: #51557E;
}
