body{
    background-color:#1B2430;
    text-align: center;
}
.img1 {
    margin-top: 5%;
    margin-bottom: 1%;
width: 20% ;height: 50%;
}
.txt1{
    font-family: 'Tajawal', sans-serif;
    color: aliceblue;
    font-size: 250%;
    font-weight: bolder;
}
.btn1{
    
    font-weight: bolder;
}

@media(max-width: 400px){
    .img1 {
      width: 100%;
    }
  }

